<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="USAbleLife.OrderManagement.Data.Properties.Settings.USAbleLifeOrderManagementConnectionString" connectionString="Data Source=.;Initial Catalog=USAbleLifeOrderManagement;User ID=USAbleLifeAdmin;Password=&quot;*^TgbHJ765rdfG==&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>